html,body{
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
  background-color: rgb(22, 22, 22);
  color: white;
}

.max-height{
  height: 100vh;
}

.heightfull{
  height: 100%;
  width: 100%;
}

.text-color{
  color: white !important;
}

.rounded-links{
  border: 20px;
  background-color: gray;
}

.charactericon{
  width: 2em;
}


.characterSelector:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
  outline: white solid 1px;
}

.rounded-corner{
  border-radius: 0 0 0.05em 0.05em;
}

.four-star{
  background-color: #9273BD;
}

.five-star{
  background-color: #DB9152;
}

.character-build {
  border: rgb(180, 180, 180) solid 0.1em;
  border-radius: 0.3em;
}


.character-splash{
  max-height: 500px;
}

.character-splash-img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.bar{
  height: 100%;
  background-color: #C2AC7B;
  border-radius: 0.1em;
  width: 10px;
}

.horizontal-bar{
  width: 100%;
  height: 10px;
  background-color: #C2AC7B;
  border-radius: 0.1em;
}

.test-height{
  height: 200px;
  flex-flow: row-reverse wrap;
}



